@font-face{
    font-family:'Jayoo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_06@1.0/Jayoo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Jayoo';
}

#content-wrapper {
    background-color: rgb(234, 242, 251);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
}

/* content head */
#content-wrapper #content-head {
    width: 412px;
    position: sticky;
    padding-top: 24px;
    top: -24px;
    z-index: 10;
    background-color: rgb(234, 242, 251);
}

#head-wrapper #logo-wrapper {
    text-align: center;
}

#logo-wrapper > img {
    width: 306px;
    margin-right: 14px;
}

/* content body */
#content-body {
    text-align: center;
    padding: 20px;
}

#content-body-wrapper #my-painting {
    width: 300px;
}

.w-btn-outline {
    position: relative;
    padding: 8px 16px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    margin-top: 8px;
    font-size: 20px;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:active {
    transform: scale(1.5);
}