{% extends 'base.html' %}

{% block title %}
나의 작업실_후
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user/workplace_A.css' %}">
{% endblock %}

{% block content %}
    <div id="box">
        <div id="top_btt">
            <button type="button" onclick="location.href='#'" id="back"></button>
            <button type="button" onclick="location.href='#'" id="front"></button>
        </div>
        <div class="picture">
            <img src="https://ifh.cc/g/y2H5Lm.jpg" width="250" height="320"
                 style="position: absolute; top: 170px; left: 80px;">
        </div>
        <div class="frame">
            <img src="https://ifh.cc/g/yT76lZ.png">
            <li id="input_T">여기엔 제목</li>
            <li id="input_C">여기엔 내용</li>
            <ul>
                <li style="float: left; width: 150px">
                    <button type="submit" id="share">공유</button>
                </li>
                <li>
                    <button type="submit" id="cancel">취소</button>
                </li>
            </ul>
        </div>
        <div id="bottom_btt">
            <button type="button" onclick="location.href='#'" id="draw"></button>
            <button type="button" onclick="location.href='#'" id="photo"></button>
            <button type="button" onclick="location.href='#'" id="camera"></button>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'css/js/workplace.js' %}"></script>
{% endblock %}
