{% extends 'base.html' %}

{% block title %}
나의 작업실_후
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user/workplace_A.css' %}">
{% endblock %}

{% block content %}
    <div id="box">
        <div id="top_btt">
            <button type="button" onclick="location.href='#'" id="back"></button>
            <button type="button" onclick="location.href='#'" id="front"></button>
        </div>
        <div class="picture">
            <img src="https://ifh.cc/g/yT76lZ.png">
            <img src="https://ifh.cc/g/HTjLUD.png" width="200px">
            <div id="middle_btt">
                <li>
                    <button type="submit" id="share">공유</button>
                </li>
                <li>
                    <button type="submit" id="cancel">취소</button>
                </li>

            </div>

        </div>
        <div id="bottom_btt">
            <button type="button" onclick="location.href='#'" id="draw"></button>
            <button type="button" onclick="location.href='#'" id="photo"></button>
            <button type="button" onclick="location.href='#'" id="camera"></button>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'css/js/workplace.js' %}"></script>
{% endblock %}
