@font-face {
    font-family: 'Haram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Haram.woff') format('woff');
}

* {
    font-family: 'Haram';
    font-weight: bold;

}

/* 그림이 들어갈 박스 */
#box {
    width: 412px;
    height: 915px;
    margin: 0 auto;
    position: relative;
}

@font-face {
    font-family: 'Haram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Haram.woff') format('woff');
}

* {
    font-family: 'Haram';
    font-weight: bold;

}

/* 그림이 들어갈 박스 */
#box {
    width: 412px;
    height: 915px;
    margin: 0 auto;
    position: relative;

}

#box::after {
    content: "";
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://ifh.cc/g/zBS0Ps.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

/*상단 버튼*/
#top_btt {
    padding: 5% 5% 0 5%;
}
#back {
    background: url("https://ifh.cc/g/IyDE5L.png") no-repeat;
    background-size: contain;
    width: 80px;
    height: 100px;
    cursor: pointer;
    border: 0;

}

#front {
    background: url("https://ifh.cc/g/8ZFSVW.png") no-repeat;
    background-size: contain;
    width: 80px;
    height: 100px;
    cursor: pointer;
    border: 0;
    float: right;

}

/*작업판*/
li {
    list-style: none;

}

.frame {
    text-align: center;
    position: relative;
}

/*제목-내용, 공유-취소 버튼*/
li {
    list-style: none;

}

#input_T {
    background-color: rgb(176,173,170);
    border: gray 1px solid;
    border-bottom-color: #444444;
    width: 250px;
    font-size: xx-large;
    margin: auto;
}

#input_C {
    background-color: rgb(176,173,170);
    border: gray 1px solid;
    border-top-color: #444444;
    width: 250px;
    height: 100px;
    font-size: x-large;
    margin: auto;

}

#do-share {
    cursor: pointer;
    border-radius: 20px;
    width: 80px;
    height: 45px;
    font-size: xx-large;
    background-color: rgb(176,173,170);

}

#cancel {
    cursor: pointer;
    border-radius: 20px;
    width: 80px;
    height: 45px;
    font-size: xx-large;
    background-color: rgb(176,173,170);

}

#box::after {
    content: "";
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://ifh.cc/g/zBS0Ps.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
}

/*상단 버튼*/
#top_btt {
    padding: 5% 5% 0 5%;
}
#back {
    background: url("https://ifh.cc/g/IyDE5L.png") no-repeat;
    background-size: contain;
    width: 80px;
    height: 100px;
    cursor: pointer;
    border: 0;

}

#front {
    background: url("https://ifh.cc/g/8ZFSVW.png") no-repeat;
    background-size: contain;
    width: 80px;
    height: 100px;
    cursor: pointer;
    border: 0;
    float: right;

}

/*작업판*/
li {
    list-style: none;

}

.picture {
    text-align: center;

}

input:focus{
    outline: none;

}

input::placeholder{
    color: #2f2f2f;
}

input {
    border-radius: 30px;
    padding: 0 15px;
    border: 2px rgb(214,211,211) solid;
    height: 45px;
    width: 50%;
    font-size: 30px;
    margin: 7px;
    background-color : rgb(176,173,170);
    text-align: center;

}

.info-share {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px 0;
}

.share-button {
    width: 44px;
    cursor: pointer;
}

.hide {
    display: none;
}

form {
    width: 0px;
    height: 0px;
}

.speech-bubble {
    position:absolute;
    top: 327px;
    left: 324px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    padding: 8px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    font-size: 16px;
}

.w-btn-khaki {
    background-color: #767725;
    color: white;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}
