{% extends 'base.html' %}

{% block title %}
나의 유화
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user/mypage.css' %}" >
{% endblock %}

{% block content %}
<div id="content-wrapper">
    <div id="content-head">
        <div id="head-wrapper">
            <div id="back-arrow-wrapper">
                <img src="{% static 'images/back-arrow.png' %}" alt="">
            </div>
            <div id="logo-wrapper">
                <img src="{% static 'images/logo-mypage.png' %}" alt="">
                <form action="/accounts/logout/">
                    {% csrf_token %}
                    <img id="img-logout" src="{% static 'images/logou-pen.png' %}" alt="">
                </form>
                <span id="myname">{{ user.username }}</span>
            </div>
        </div>
    </div>
    <div id="content-body">
        {% load my_filters %}
        <div id="content-body-wrapper">
            <!-- left side -->
            <div class="content-body-left">
            {% for pic in pictures %}
                {% cycle 'left' 'right' as sides silent %}
                {% if sides == 'left' %}
                    {% with 'style_picture_img/'|add:pic.enl_title|add:'.jpeg' as img_path %}
                    <div class="img-wrapper" data-title="{{pic.title}}" data-year="{{pic.year}}" data-author="{{pic.author}}" data-id="{{pic.id}}" data-intro="{{pic.intro}}">
                        {% if forloop.counter0 < 5%}
                            <img class="famous-paintings" src="{% static img_path %}" alt="">
                        {% else %}
                            <img class="famous-paintings lazy" data-src="{% static img_path %}" alt="">
                        {% endif %}
                    </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
            </div>
            
            <!-- right side -->
            <div class="content-body-right">
            {% for pic in pictures %}
                {% cycle 'left' 'right' as sides silent %}
                {% if sides == 'right' %}
                    {% with 'style_picture_img/'|add:pic.enl_title|add:'.jpeg' as img_path %}
                    <div class="img-wrapper" data-title="{{pic.title}}" data-year="{{pic.year}}" data-author="{{pic.author}}" data-id="{{pic.id}}" data-intro="{{pic.intro}}">
                        {% if forloop.counter0 < 6%}
                            <img class="famous-paintings" src="{% static img_path %}" alt="">
                        {% else %}
                            <img class="famous-paintings lazy" data-src="{% static img_path %}" alt="">
                        {% endif %}
                    </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- 모달 -->
<div class="modal-background">
    <div class="modal-window">
        <div class="modal-popup">
            <div class="paintings-info">
                <div id="info-top">
                    {% for _ in 4|times %}
                        <h3></h3>
                    {% endfor %}
                </div>
                <div id="info-bottom">
                    <button id="do-download">다운로드</button>
                    <button id="do-share">공유하기</button>
                    <button id="do-delete">삭제</button>
                    <button id="do-cancel">취소</button>
                </div>
                <div class="info-share hide">
                    <div id="twitter">
                        <img class="share-button" src="{% static 'images/twitter.png' %}" alt="">
                    </div>
                    <div id="facebook">
                        <img class="share-button" src="{% static 'images/facebook.png' %}" alt="">
                    </div>
                    <div id="clipboard">
                        <p class="speech-bubble hide">복사됨</p>
                        <img class="share-button" src="{% static 'images/clipboard.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="{% static 'js/user/mypage.js' %}"></script>
{% endblock %}
