<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WORKPLACE</title>
    <link rel="stylesheet" type="text/css" href="/static/css/workplace_B.css">
</head>
<body>
    <div id="box">
        <div id="top_btt">
            <button type="button" onclick="location.href='#'" id="back"></button>
            <button type="button" onclick="location.href='#'" id="front"></button>
        </div>
        <div class="picture">
            <img src="https://ifh.cc/g/yT76lZ.png">
            <li><input type="text" name="title" placeholder="제목을 적어주세요"></li>
            <li><input type="text" name="contents" placeholder="그림에 대한 설명을 적어주세요" style="height: 100px"></li>
            <div class="button">
                <div class="text">Submit</div>
                <div class="progress-bar"></div>
                <svg x="0px" y="0px"
                   viewBox="0 0 25 30" style="enable-background:new 0 0 25 30;">
                    <path class="check" class="st0" d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2"/>
                  </svg>

              </div>

        </div>
        <div id="bottom_btt">
            <button type="button" onclick="location.href='#'" id="draw"></button>
            <button type="button" onclick="location.href='#'" id="photo"></button>
            <button type="button" onclick="location.href='#'" id="camera"></button>

        </div>
    </div>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="/static/javascript/workplace.js"></script>

</body>
</html>